extend layout
block content
  div(class="row")
    div(class="col-sm-10 col-sm-offset-1 text-center")
      - action_url = "/picture/add/" + person_id;
      form(method="POST" action=action_url class="form-inline"  enctype="multipart/form-data")
        div(class="form-group space-right")
          label Image
          input(class="form-control" type="file" name="file")
        button(class="btn btn-warning" type="submit") Add
  hr
  div(class="row")
    div(class="col-sm-10 col-sm-offset-1")
      div(class="row")
        if(images)
          for image in images
            div(class="col-sm-6 col-md-4")
              img(src=image.base64.toString() style="max-width:100%;")
